<nav class="nav-bar"> 
    <h2><a href="/" style="text-decoration: none; color: black;">Projet ADE</a></h2>
    <ul>
        <% if(estConnecter){ %>
            <li><a href="/utilisateur/accueil">Regarder Donnees</a></li>
            <li><a href="/utilisateur/pageAPI">Voir cle API</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        <% } %>
        <% if(!estConnecter){ %>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/signup">Créer un compte</a></li>
        <% } %>
    </ul>
</nav>