<!DOCTYPE html>
<html>

<head>
  <title>Accueil</title>
  <link rel="stylesheet" type="text/css" href="/css/graph.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/capteur.css">
  <link rel="stylesheet" href="/css/button.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
  <style>
    body {
      font-family: 'Kanit', sans-serif;
    }
  </style>
</head>


<body>
  <%- include('composants/navbar') %>

    <h1 style="text-align: center; width: 100%;">Page d'accueil</h1>



    <div class="container">
      <div>
        <h2>Bienvenue sur le Projet ADE</h2>
        <p>Cette page vous permet de visualiser les données et consulter les graphiques.</p>
        <p>Vous pouvez également consulter les données en temps réel.</p>
      </div>

    </div>



    <div id="containerCapteur" class="container-capteur">

    </div>




      <div id="containerGraphSimple">

      </div>
      <!-- <canvas id="graphiqueSimple" class="graphe-lineaire" aria-label="chart" role="img"></canvas> -->

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.0-rc/dist/chartjs-plugin-annotation.min.js"></script>
      <script src="/js/logiqueGraphique.js"></script>

      <!-- Commencer l'affichage des donnees en temps reel -->
      <script src="/js/donneesLive.js"></script>
      <script>
        const donneesLive = new DonneesLive();
        donneesLive.startRafraichissement();
      </script>


   

</body>

</html>