<!DOCTYPE html>
<html>

<head>
  <title>Accueil</title>
  <link rel="stylesheet" type="text/css" href="/css/graph.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/capteur.css">
  <link rel="stylesheet" href="/css/button.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
  <style>
    body {
      font-family: 'Kanit', sans-serif;
    }
  </style>
</head>


<body>
  <%- include('composants/navbar') %>

    <h1 style="text-align: center; width: 100%;">Page d'accueil</h1>



    <div class="container">
      <div>
        <h2>Bienvenue sur le Projet ADE</h2>
        <p>Cette page vous permet de visualiser les données et consulter les graphiques.</p>
        <p>Vous pouvez également consulter les données en temps réel.</p>
      </div>


      <!-- <div class="graph-section">
        <div class="data-selection">
          <label>Quelles données voir</label>
          <input type="checkbox" id="ph" name="ph">
          <label for="ph">PH</label>
          <input type="checkbox" id="temperature" name="temperature">
          <label for="temperature">Température eau</label>
        </div>


        <div class="graph-container-all">
          <div class="graph-container-2">
            <canvas id="graphique"></canvas>

            <div class="graph-buttons">
              <button>Voir jour</button>
              <button>Voir nuit</button>
              <button>Voir 24h</button>
            </div>
          </div>

          <div class="stats-container">

            <div class="graph-stats">
              <p>Légende</p>
              <p>Rouge - PH</p>
              <p>Vert - Lumière</p>
              <p> Bleu - Température eau</p>
            </div>

            <div class="graph-stats">
              <p>Moyennes</p>
              <p>Ph: x</p>
              <p>Lumière: 900</p>
              <p>Température eau: 30</p>
            </div>

          </div>

        </div>

      </div> -->


    </div>





    <div id="containerCapteur" class="container-capteur">

    </div>




      <div id="containerGraphSimple">

      </div>
      <!-- <canvas id="graphiqueSimple" class="graphe-lineaire" aria-label="chart" role="img"></canvas> -->

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.0-rc/dist/chartjs-plugin-annotation.min.js"></script>
      <script src="/js/logiqueGraphique.js"></script>

      <!-- Commencer l'affichage des donnees en temps reel -->
      <script src="/js/donneesLive.js"></script>
      <script>
        const donneesLive = new DonneesLive();
        donneesLive.startRafraichissement();
      </script>


   

</body>

</html>