<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet ADE</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/page-acceuil.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
</head>
<body>
    <%- include('composants/navbar') %>

    <!-- <nav>
        <a href="/" class="logo">Projet ADE</a>
    </nav> -->

    <div class="section-haut">
        <h1>Votre Projet ADE</h1>
        <p>Transformez n’importe quel espace en ferme intelligente. Surveillez votre écosystème en temps réel, optimisez vos récoltes et économisez jusqu’à 90 % d’eau. L’agriculture durable, simple et connectée.</p>
        <div class="section-haut-boutton">
            <a href="/login">Connexion</a>
            <a href="/signup">Créer un compte</a>
        </div>
    </div>

    <div class="details">
        <div class="details-objet">
            <img src="/img/photo1.jpg" alt="photo1">
            <h3>Surveillance en Temps Réel</h3>
            <p>Visualisez instantanément l’état de votre écosystème aquaponique grâce à une interface connectée directement aux capteurs.</p>
        </div>
        <div class="details-objet"> 
            <img src="/img/photo2.jpg" alt="Eau">
            <h3>Optimisation de l'Eau</h3>
            <p>Réduisez le gaspillage et maximisez l'efficience grâce à un suivi intelligent qui ajuste la consommation en fonction des besoins.</p>
        </div>
        <div class="details-objet">
            <img src="/img/photo3.jpg" alt="">
            <h3>Production Durable</h3>
            <p>Associez agriculture et pisciculture pour une production locale, saine et respectueuse de l’environnement.</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Projet ADE. Tous droits réservés.</p>
    </footer>

</body>
</html>
