<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <style>
        body {
            font-family: 'Kanit', sans-serif;
        }
    </style>
</head>

<body>
    <h1>Projet ADE</h1>

    <div class="body">
        <div class="container">

            <h2>Connexion</h2>

            <p>Entrez vos identifiants afin de vous connecter:</p>

            <form action="acceuil.html" method="POST">

                <label>Courriel:</label><br>
                <input type="email" id="email" name="email" placeholder="Entrez votre courriel" required><br>

                <br>

                <label>Mot de passe:</label><br>
                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe"
                    required><br>

                <br>

                <input type="submit" value="Se connecter">






            </form>

            <div class="item">
                <p>Vous n'avez pas de compte?</p>
                <a href="signup" class="button_normal">Créez un compte</a>
            </div>


        </div>

    </div>

</body>

</html>