/* body {
    overflow-y: scroll;
    overflow-x: hidden;
} */

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 40px;
    
}
.container-capteur {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    width: 100%;
}
.capteur {
    background-color: #4db6ac;
    color: white;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}
.capteur .nom-forme {
    font-size: 12px;
    text-align: center;
}
.capteur .valeur-donne {
    font-size: 24px;
    font-weight: bold;
}


