body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 40px;
    
}
.container-capteur {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    width: 100%;
}
.capteur {
    background-color: #4db6ac;
    color: white;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}
.capteur .nom-forme {
    font-size: 12px;
    text-align: center;
}
.capteur .valeur-donne {
    font-size: 24px;
    font-weight: bold;
}



.graph-section {
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #4db6ac;
    padding: 20px;
    border-radius: 10px;
    gap: 100px;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.graph-container-all {
    display: flex;
    gap: 20px;
}
.graph-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .graph-container-1 canvas {
    border-radius: 40px;
    background-color: white;
} */
.graph-container-2 canvas {
    border-radius: 10px;
    height: 300px;
    width: 350px;
    background-color: white;
    margin-bottom: 15px;
}


.graph-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.graph-buttons button {
    background-color: #b2dfdb;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.graph-stats {
    background-color: #b2dfdb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 100px;
    width: 200px;
}

.graph-stats p {
    margin: 5px 0;
    font-size: 16px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}







.color-indicators {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .indicator {
    width: 20px;
    height: 20px;
  }

  .graph-section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .legend, .averages {
    margin-bottom: 20px;
  }

  .view-buttons button {
    margin-right: 10px;
    margin-top: 15px;
  }


  .data-selection {
    background-color: rgb(86, 105, 86);
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
  }