.graphe-lineaire{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;

}
#containerGraphSimple{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.canvas-container { 
    overflow: auto;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.canvas-container:hover {
    overflow: auto;
    scrollbar-width:thin;
  }

.canvas-container canvas{
    width: 100%;
    height: 100%;
}

.titre-graphs{
    text-align: center;
}





.graph-section {
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #159387;
    padding: 20px;
    border-radius: 10px;
    gap: 100px;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.graph-container-all {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.graph-container-button-canvas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




.graph-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Pour la boite de statistique */
.graph-stats {
    background-color: #b2dfdb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    width: 150px;
}

.graph-stats p {
    margin: 5px 0;
    font-size: 16px;
}





/* A effacer : */


  .graph-container-2 canvas {
    border-radius: 10px;
    height: 300px;
    width: 350px;
    background-color: white;
    margin-bottom: 15px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/***************** Mobile ***************/
@media only screen and (max-width: 600px) {
    .graph-section {
        width: 80%;
    }
    .graph-container-button-canvas{
        width: 80%;
    }
    .canvas-container { 
        width: 100%;
    }
  }